name: run generate.py

on:
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'
env:
  RSS_URL: ${{ secrets.RSS_URL }} 
  GIT_USER: ${{ secrets.GIT_USER }} 
  GIT_EMAIL: ${{ secrets.GIT_EMAIL }} 
  
jobs:
  build:
    runs-on: ubuntu-latest
    environment: secrets
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10' 
    - run: pip install -r requirements.txt
    - name: Generate Doc
      run: |
        echo $RSS_URL
        python generate.py
      env:
        RSS_URL: ${{ secrets.RSS_URL }} 
    - name: Cache node modules
      uses: actions/cache@v1
      id: cache
      with:
        path: node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Install Dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        npm install
        npm ci
    - name: Deploy
      id: deploy
      uses: sma11black/hexo-action@v1.0.3
      with:
        deploy_key: ${{ secrets.DEPLOY_KEY }}
        user_name: ${{ secrets.GIT_USER }}  
        user_email: ${{ secrets.GIT_EMAIL }}  
        commit_msg: ${{ github.event.head_commit.message }}  
